<!DOCTYPE html>
<html>
<head>
    <title>DomDiff example</title>
    <meta charset="utf-8" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../domdiff.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/integration/jquery.diffhtml.js" type="text/javascript" charset="utf-8"></script>
    <script src="./domdiff.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script type="text/template" id="comments">
    <% if(_.size(rows)) { %>
    <ul>
        <% _.each(rows, function(row) { %>
        <li>
            <b><%= name %></b>
            <span style="color: <%= _.random(1) ? 'red' : 'blue' %>"><%= row.comment %></span>
            <% if (_.random(1)) { %>
            <p>another node</p>
            <% } %>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
    <p>Please write a comment</p>
    <%}%>
    <textarea placeholder="Write a comment"></textarea>
    </script>

    <div id="domdiff"></div>

    <script>
    jefdemo.domdiff.main(
        document.getElementById('domdiff'),
        document,
        _.template(document.getElementById('comments').innerHTML)
    );
    </script>
</body>
</html>
