<!DOCTYPE html>
<html>
<head>
    <title>DomDiff example</title>
    <meta charset="utf-8" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../domdiff.js" type="text/javascript" charset="utf-8"></script>
    <script src="./domdiff.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script type="text/template" id="list">
    <ul>
        <% _.each(rows, function(row) { %>
        <li><%= row.name %></li>
        <% }); %>
    </ul>
    <% if(_.size(rows) > 2) { %>
    <p>We have more than 2 rows <b><%= _.size(rows) %></b></p>
    <%}%>
    </script>

    <div id="domdiff"></div>
    <button id="js-render" type="submit">Render</button>

    <script>
    jefdemo.domdiff.main(
        document.getElementById('domdiff'),
        document,
        _.template(document.getElementById('list').innerHTML)
    );
    </script>
</body>
</html>
